*,
*::before,  
*::after {
  box-sizing: border-box;
}

:root {
  --marvel-red: #ec1d24;
  --deep-blue: #111132;
  font-family: "BentonSans";
  padding: 0;
}

body {
  margin: 0;
  background-color: beige;
  min-height: 100vh;
}

.root {
  min-height: 100vh;
}

.app-container {
  background-color: white;
  background-color: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.headr {
  background-color: var(--marvel-red);
  background-color: var(--deep-blue);
  color: white;
  font-family: "BentonSans";
  display: flex;
  box-shadow: 00px 5px 5px gray;
  justify-content: center;
  padding: 10px;
}

.headr > span {
  font-size: 6rem;
  margin: 10px;
  padding: 6px;
  margin-bottom: 0;
  border: solid white 5px;
  cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    font-size: 4rem;
    color: lightgray;
    text-align: center;
}

.max-score {
  width: 12%;
  display: flex;
  justify-content: center;
  
}

.max-score > span {
  padding-left: 42%;
}

main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards-section {
  /* margin-top: 1.3rem; */
  width: 100%;
  min-height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.card {
  margin-left: 20px;
}

.card > img {
  min-width: 9rem;
  max-width: 18rem;
  cursor: pointer;
  border-radius: 9px;
}

.card > img:hover,
.card > img:focus,
.card > img:active {
  filter: brightness(120%) drop-shadow(7px 7px 9px gray) contrast(95%);
}

.test-div {
  background-color: skyblue;
  width: 9rem;
  height: 9rem;
  border: 3px solid green;
  margin: 1rem;
}

.winner {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
}

.winner > span{
  font-size: 9rem;
  letter-spacing: 9px;
  margin: 0px;
  padding: 0px;
  color: gold;
}

.winner > span:nth-of-type(2) {
  margin-top: -3rem;
}

.hs-btn,
.hs-input {
  width: 100%;
  height: auto;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
}

.hs-input {
  background-color: whitesmoke;
}

.hs-btn:hover,
.hs-btn:active {
  box-shadow: 0px 5px 15px gold;
}

.hs-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24px);
}

.hs-btn {
  width: 70%;
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: gold;
}

@font-face {
  font-family: BentonSans;
  src: url(./fonts/BentonSans\ ExtraComp\ Black\ Regular.otf) format("opentype");
}

/* remember to add media queries */